.root {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #FAFAFA;
}

.info {
    width: 380px;
    vertical-align: top;
}

.app-bar {
    width: 100%;
    height: 100%;
}

.app-bar > td {
  height: 100%;
  vertical-align: middle;
}

.app-bar > td:nth-child(1) {
  padding-left: 5px;
}

.app-bar > td:nth-child(2) {
    text-align: center;
    padding-right: 50px;
    color: white;
    font-size: 1.4em;
    font-weight: 800;
}

.app-bar > td:nth-child(2) > button {
  border-radius: 10px;
  height: 40px;
}

.btn-goback {
  background: #f5f5f5;
  color: #616161;
  fiLL: #616161;
  border: none;
  padding: 2px 6px;
  border-radius: 0.6rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 7px 14px rgba(255, 255, 255, 0.18);
}

.btn-goback > svg {
    position: relative;
    top: 0.2em;
    margin-right: 0.3em;
}

.btn-goback > td {
  padding: 0px;
}

.btn-goback > td:nth-child(2) {
  vertical-align: middle;
}

.btn-goback:hover {
  background: #616161;
  color: white;
  fill: white;
}

.share-button {
  width: 75%;
  background:#d344ffc5;
  color: white;
  border: 1px solid white;
  padding: 10px 50px;
  border-radius: 0.5rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1em;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.share-button:hover {
  color: white;
  background: #F79FF3;
}

.forKakao {
  position: absolute;
  left: 330px;
  top: 7px;
  z-index: 1;
}