

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.8;
}

.top-bar {
  height: 50px;
  width:100%;
  margin-top:20px;
  background-color:#d344ffc5;
  color: #ffff;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}
.top-bar-title {
  width: inherit;
  line-height: 1.5;
  margin-top: -0.0rem;
  padding-left: auto;
  padding-right: auto;
}

.share-box {
  width: 301px;
  height: 50px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.location-input-table {
  width: 90%;
  background-color: #da93d434;
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.location-input-table:nth-child(3) > tr:nth-child(3) > td{
	padding:20px;
}

.location-input-table:nth-child(3) > tr:nth-child(3) > td > span{
	font-size:14px;
	display:inline-block;
	width:70px;
}

.Wrapper {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Noto Sans KR', sans-serif;
}

.Input-text {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.Input-text::placeholder {
  color: #B0BEC5;
  font-size: 1.8rem;
  font-weight: 500;
}

.Input-text:hover {
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.Input-text:focus {
  outline: none;
}

.Input-label {
  display: block;
  position: absolute;
  bottom: 95%;
  left: 3rem;
  color: rgb(59, 58, 58);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
}

.Start-position {
  background-color: white;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  border-radius: 0.4rem;
}

.search-table {
  height: 47px;
  width: 84%;
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
}

.search-table > td:nth-child(1) {
  width: 50%;
}

.search-table > td:nth-child(2) {
  width: 2%;
}

.search-table >td:nth-child(3) {
  width: 30%;
}

.btn {
  background: #2196f3;
  color: #d3eafd;
  border: 1px solid #dfe1e5;
  padding: 10px 15px;
  border-radius: 0.5rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 7px 14px rgba(255, 255, 255, 0.18);
}
.btn:hover {
  border: none;
  background: #2196f3;
  color: #deeffd;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-share {
    width:100%;
    height: 100%;
  background: #ffff;
  color: #d344ffc5;
}
.btn.btn-share:hover {
  background: #d344ffc5;
  color: #deeffd;
}

.btn.btn-share:active {
  background: #9f33c0c5;
}

.btn.btn-submit {
  width: 90%;
  height: 100%;
  background: #ffff;
  color: #d344ffc5;
}
.btn.btn-submit:hover {
  background: #d344ffc5;
  color: #deeffd;
}

.btn.btn-submit:active {
  background: #9f33c0c5;
}

.btn.btn-result {
  width:100%;
  height: 100%;
  background: #ffff;
  color: #d344ffc5;
}
.btn.btn-result:hover {
  background: #d344ffc5;
  color: #deeffd;
}

.btn.btn-result:active {
  background: #9f33c0c5;
}.Input-label

.btn-box {
  text-align: center;
  margin: 50px 0;
}

.button-con {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -76px;
  margin-top: -18px;
}

.toggle {
  display: none;
}

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
  background: none;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 16em;
  height: 3em;
  position: relative;
  cursor: pointer;
  border: 2px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-button:after {
  left: 0;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
}

.toggle + .toggle-button {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 2px solid #d344ffc5;
  border-radius: 2em;
  background: rgba(97, 95, 95, 0.171);
}

.toggle + .toggle-button:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #d344ffc5;
  content: "";
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}

.TransfortationImageDiv{
  text-align: center;
  position: relative;
  top: -48px;
  height: 10px;
  pointer-events: none;
  max-height: 50%;
  font-size: 1.2em;
  left: -3%;
}

.public-transport-svg {
  height: 1.2em;
  margin-left: 3%;
  position: relative;
  top: 40%;
}

::-webkit-scrollbar {
	width: 11px;
	height: auto;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 8px #d344ffc5;

}
::-webkit-scrollbar-thumb {
	background: #d344ffc5;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
	background: #d344ffc5;
}
::-webkit-scrollbar-thumb:active {
	background: #d344ffc5;
}

/*제출시 나오는 아래 화면에 대한 css 처리*/
#submit-list > table{
	padding-top: 8px;
}

#submit-list tr td div p{
	display:inline-block;
	padding:0;
	margin:0;
  vertical-align:top;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #333333;  
}

#privateroom{
	height:100%;
	width:380px;
}
#privateroom .top-bar{
	width:100%;
	max-width:300px;
	margin:0 auto;
	border-radius:5px
}
#privateroom .share-box{
	box-sizing:border-box;
	max-width:300px;
}

.show-other-people {
  width: 92%;
  margin-left: 4%;
  margin-bottom: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.651), 0px 0px 13px rgb(255, 255, 255);
}

.show-other-people > tr > td:nth-child(1) {
  width:40%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.show-other-people > tr > td:nth-child(2) {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}

.show-other-people > tr > td:nth-child(3) {
  padding-top: 3px;
  padding-bottom: 3px;
}