.set-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
}

.menu{
  background-color: #f79ff3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

.menu__list{
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu__link{
  display: block;
  padding: 2rem 1.5rem;

  will-change: color;
  transition: color .25s ease-out;

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:focus{
  outline: 2px solid #fff;
}

@media (min-width: 601px){

  .menu__list{
    display: flex;
  }

  .menu__group{
    flex-grow: 1;
  }

  .menu__link{
    position: relative;
    overflow: hidden;
  }

  .menu__link:before, .menu__link:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width .05s ease-out;

    position: absolute;
    bottom: 0;
  }

  .menu__link:before{
    left: 50%;
    transform: translateX(-50%);
  }

  .menu__link:after{
    right: 50%;
    transform: translateX(50%);
  }

  .menu__link:hover:before, .menu__link:hover:after{
    width: 100%;
    transition-duration: .15s;
  }
}

/* hover effect */

.menu:hover .menu__link:not(:hover){
  color: #241c69;
}

.result-list {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    padding: 2%;
  }

body {
    overflow-x: hidden;
}

.candidates-window {
    padding-top:20px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 30px;
}

.candidates {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ececec;
    opacity: 1;
    transition: box-shadow .2s, opacity .4s;
}
.candidates:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.area-checkbox {
    display: none;
}

.area-checkbox:checked ~ .area-title + .area-path-details {
    max-height: 3000px;
}

.area-checkbox:checked ~ .area-title:after {
    transform: rotate(0);
}

.area-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 1;
    cursor: pointer;
}
.area-label:hover ~ .area-title:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
}

.area-title {
    position: relative;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0 87px 0 30px;
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.area-title:before, .area-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.area-title:before {
    height: 100%;
}
.area-title:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 30px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.area-name {
    display: inline-block;
    width: 75%;
    margin-left: 16px;
    font-weight: 500;
    color: #242a32;
    white-space: normal;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
}

.votebox {
  position: absolute;
  display: block;
  width: 100%;
  top: 15%;
  text-align: center;
  z-index: 10;
  pointer-events: none;
}

.votebox > span {
    pointer-events: visiblePainted;
}

.area-title + .area-path-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.area-title > div{
    display: inline-block;
}

.area-title > div {
    vertical-align: middle;
}


.area-info {
    width: 60%;
    white-space: nowrap;
    font-size: 0;
}
.area-info:before {
    content: '';
    display: inline-block;
    height: 44px;
    vertical-align: middle;
}

.chart-pie {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: red;
    vertical-align: middle;
}
.chart-pie:after {
    content: '';
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
}

.chart-pie-count {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 44px;
    color: #242a32;
    text-align: center;
    z-index: 1;
}

.area-path-details {
    background-color: #f9f9f9;
    font-size: 0;
    text-align: justify;
}

.area-details-wrapper {
    padding: 24px 25px 30px;
    background-color: #f1f1eb49;
}

.area-details-wrapper > div {
    display: inline-block;
    width: 100%;
    padding: 1px 11px 1px;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: top;
    background-color: #fff;
    text-align: left;
    cursor: default;
    box-shadow: 0 0px 30px rgb(255, 255, 255), 0 0px 30px rgb(255, 255, 255);
}

.area-spec-header {
    position: relative;
    width: 100%;
    margin: 20px 0 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #242a32;
    text-transform: capitalize;
}

.area-spec-header > span:nth-child(2) {
    position: absolute;
    left: 54%;
}

.area-spec-header + div > span {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #363636;
}

.area-spec-hr {
    border: 0;
    height:1px;
    background-color: #d3d3d3;
}

.vertical-hr {
    border-left: 1px solid #d3d3d3;
    height: calc(100% - 10px);
    position: absolute;
    left: 0;
    top: 5px;
}

.showTransportationDiv {
    width: 100%;
}

.showTransportaionDiv > table {
    width: 100%;
}

.showTransportaionDiv > table > td {
    vertical-align: middle;
}

.showTransportaionDiv > table > td:nth-child(1) {
    padding-right: 5px;
    text-align: center;
    width: 25%;
}

::-webkit-scrollbar {
	width: 10px;
	height: auto;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 8px #d344ffc5;

}
::-webkit-scrollbar-thumb {
	background: #d344ffc5;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
	background: #d344ffc5;
}
::-webkit-scrollbar-thumb:active {
	background: #d344ffc5;
}

#empty_Space{
  padding-bottom: 60%;
}

@media screen and (max-width: 800px) {
    .area-label {
        max-height: 102px;
    }

    .area-title {
        height: auto;
        padding: 10px 87px 10px 30px;
    }
    .area-title:before {
        display: none;
    }
    .area-title:after {
        top: 0;
    }

    .area-title > div {
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .area-details-wrapper > div {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .area-details-wrapper > div:not(:first-child) {
        margin-top: 10px;
    }
}
@media screen and (max-width: 500px) {
    .area-label {
        max-height: 140px;
    }
}
