
/*로딩 백그라운드*/
#loading_logo{
	display:none;
	width:100%;
	height:100%;
	z-index:1000;
	background-image:url("./images/logo.png");
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-color:rgba(0,0,0,.7);
	position:fixed;
	top:0;
	left:0;
}
#loading_logo > p{
	position:fixed;
	top:50%;
	left:50%;
	color:rgb(157, 92, 187)
}
#loading_logo > p span{
	animation-name:loading_dot_ani;
	animation-duration:1.4s;
	animation-iteration-count:infinite;
	animation-fill-mode:both;
}
#loading_logo > p span:nth-child(2){
	animation-delay: .2s;
}
#loading_logo > p span:nth-child(3){
	animation-delay: .4s;
}

/*위치 리스트 해더 영역추가*/
#side_area_top{
	position:fixed;
	top:0;
	left:0;
	width:380px;
	height:48px;
	background:#f79ff3;
	z-index:800;
	border-radius:0 0 10px 0;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

/*메뉴버튼*/
#side_area_menu_btn{
	color:#fff;
	font-size:20px;
	cursor:pointer;
	position:relative;
}

/*공유버튼*/
#side_area_share_btn{
	color:#fff;
	float:right;
	margin-right:4px;
}
#m_side_area_menu_btn, #m_side_area_share_btn{display:none;}

#side_area{
	padding-top:64px !important;
	animation-duration:0.5s;
	animation-fill-mode:forwards
}

#side_area.ani_up{animation-name:footer_menu_up;}
#side_area.ani_down{animation-name:footer_menu_down;}

/*검색 창*/
#addr_search_btn{
	display:none;
	color:#4f4f4f;
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -28%;
	cursor:pointer;
}

/*모바일용 해더 영역*/
#m_side_area_top{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:52px;
	border-radius:0 0 10px 10px;
}

#footer_menu_btn{
	display:none;
}

/*모바일 화면(iPhoneXS : 1125, iPhoneXS Max : 1242, Galaxy S10 : 1440)*/
@media screen and (max-width: 1440px) {
	/*로고*/
	#loading_logo{
		background-size:100px 100px;
	}
	#loading_logo > p{
		font-size:30px;
		margin:50px 0 0 -60px
	}

    /*맵 하단 버튼 위치 수정*/
    .gm-bundled-control-on-bottom{
    	bottom:212px !important;
    }

    /*위치 리스트 화면 조작*/
    #side_area{
    	display:inline-block;
    	position:fixed;
    	bottom:0;
    	left:0;
    	width:100%;
    	height:50px;
    	background:#fff;
    	z-index:900;
    	box-sizing:border-box;
    	border-radius:50px 50px 0 0;
    	padding-top:34px !important;
    }

    /*모바일용 해더 영역*/
	#m_side_area_top{
		z-index:10 !important;
		background-color:#f79ff3;
	}


	#search_input{
		width:60% !important;
		position:fixed;
		top:-19px;
		left:50%;
		margin-left:-30% !important;
	}
	#m_side_area_menu_btn{
		display:block;
		color:#fff;
		position:fixed;
		top:0;
		left:0;
	}
	#m_side_area_share_btn{
		display:block;
		color:#fff;
		position:fixed;
		top:0;
		right:0;
	}

    #side_area_top{
    	display:none;
    	border-radius:0 0 10px 10px;
    }
    .gm-svpc, .gmnoprint{display:none !important;}

    #footer_menu_btn{
    	position:absolute;
    	display:block;
    	margin-left:-11px;
    	z-index:10;
    	left:50%;
    	top:12px;
    	color:#868686;
    }
}

/*태블릿 화면(iPad : 1536px, Galaxy Tab S5 : 1600, iPad Air : 1668)*/
@media screen and (min-width: 1441px) and (max-width: 1668px) {
	#loading_logo{
		background-size:200px 200px;
	}
	#loading_logo > p{
		font-size:50px;
		margin:92px 0 0 -97px
	}
}

/*PC 화면*/
@media screen and (min-width: 1669px) {
	#loading_logo{
		background-size:300px 300px;
	}
	#loading_logo > p{
		font-size:60px;
		margin:136px 0 0 -114px
	}
}

@keyframes loading_dot_ani{
    0%   { opacity: .2 }
    20%  { opacity: 1  }
    100% { opacity: .2 }
}

@keyframes footer_menu_up{
    100% { height: 80% }
}

@keyframes footer_menu_down{
    100% { height: 48px }
}
